/* [Device Widths] 
All sizes are min-width
mobile: 0, mobileL: 425px, tablet: 768px, 
laptop: 1024px, desktop: 1200px, desktopL: 1440px 
*/
$mobile: 0;
$mobileL: 26.5625em;
$tablet: 48em;
$laptop: 64em;
$desktop: 75em;
$desktopL: 90em;

/* [Flex Columns] */
$gap: 0.5rem; // Gap between columns
$colCount: 11; // Column Count

/* [CSS Grid] 
All variables represent the 
max amount of grids to create, use sparinglly!
*/
$colGap: 8;
$rowGap: 8;
$cols: 12;
$rows: 12;

/* 
[Spacing]: 
xxs: 0, xxs: 2px, xs: 4px, sm: 8px, 
md: 16px, lg: 32px, xl: 64px 
*/
$sizes: ('0': 0,
    'xxs': 0.125rem,
    'xs': 0.25rem,
    'sm': 0.5rem,
    'md': 1rem,
    'lg': 2rem,
    'xl': 4rem,
    'xxl': 8rem,
);

/* [Colors] */
/* 
Material Colors
Colors: 
[red, pink, purple, deep-purple, indigo, blue, light-blue, cyan, teal, greem light-green, lime, yellow, amber, orange, deep-orange, ]
[50, 100 - 900, a100, a200, a400, a700]
[Brown, Blue Gray & Gray] 50, 100 - 900
Useage: material-color('blue-grey', '600') 
*/
@import '../base/colors/material';

$primary: material-color('indigo', '500');
$accent: material-color('amber', '400');
$success: material-color('green', 'a400');
$info: material-color('teal', 'a400');
$warning: material-color('amber', 'a400');
$danger: material-color('deep-orange', 'a400');

/* 
[Font Sizes]: 
xxs: 12px, xs: 14px, sm: 16px, rg: 18px,md: 24px, lg: 32px, xl: 48px, xxl: 64px 
*/
$fs-xxs: 0.75rem;
$fs-xs: 0.875rem;
$fs-sm: 1rem;
$fs-rg: 1.125rem;
$fs-md: 1.5rem;
$fs-lg: 2rem;
$fs-xl: 3rem;
$fs-xxl: 4rem;

$fs: ('xxs': $fs-xxs,
    'xs': $fs-xs,
    'sm': $fs-sm,
    'rg': $fs-rg,
    'md': $fs-md,
    'lg': $fs-lg,
    'xl': $fs-xl,
    'xxl': $fs-xxl,
);