/* [Device Widths] 
All sizes are min-width
mobile: 0, mobileL: 425px, tablet: 768px, 
laptop: 1024px, desktop: 1200px, desktopL: 1440px 
*/
// $xs: 0;
$xs: 0;
$sm: 360px;
$md: 600px;
$lg: 840px;
$xl: 1280px;
$xxl: 1920px;

/* [Spacing]: */
$sizes: ('0': 0,
    // 'xxs': 0.125rem,
    // 'xs': 0.25rem,
    'sm': 0.5rem,
    'rg': 1rem,
    'md': 1.5rem,
    'lg': 2rem,
    // 'xl': 3rem,
    // 'xxl': 4rem,
);

/* [Colors] */
/* 
Material Colors
Colors: 
[red, pink, purple, deep-purple, indigo, blue, light-blue, cyan, teal, greem light-green, lime, yellow, amber, orange, deep-orange, ]
[50, 100 - 900, a100, a200, a400, a700]
[Brown, Blue Gray & Gray] 50, 100 - 900
Useage: material-color('blue-grey', '600') 
*/
@import '../base/colors/material';

$primary: material-color('indigo', '500');
$accent: material-color('amber', '400');
$success: material-color('green', 'a400');
$info: material-color('teal', 'a400');
$warning: material-color('amber', 'a400');
$danger: material-color('deep-orange', 'a400');

/* 
[Font Sizes]: 
xxs: 12px, xs: 14px, sm: 16px, rg: 18px,md: 24px, lg: 32px, xl: 48px, xxl: 64px 
*/
$fs-xxs: 0.75rem;
$fs-xs: 0.875rem;
$fs-sm: 1rem;
$fs-rg: 1.125rem;
$fs-md: 1.5rem;
$fs-lg: 2rem;
$fs-xl: 3rem;
$fs-xxl: 4rem;

$fs: ('xxs': $fs-xxs,
    'xs': $fs-xs,
    'sm': $fs-sm,
    'rg': $fs-rg,
    'md': $fs-md,
    'lg': $fs-lg,
    'xl': $fs-xl,
    'xxl': $fs-xxl,
);