@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons');

/* Setup initial defaults */
@import '~vue-material/dist/theme/engine';

$primary: md-get-palette-color(indigo, A200);
$accent: md-get-palette-color(cyan, A400);
$success: md-get-palette-color(green, A400);
$info: md-get-palette-color(lightblue, A400);
$warning: md-get-palette-color(amber, A400);
$danger: md-get-palette-color(deeporange, A400);
$textDark: rgba(black, 0.87);



// Primary and secondary colors
@include md-register-theme('default',
    (primary: $primary,
        accent: $accent,
        success: $success,
        info: $info,
        warning: $warning,
        danger: $danger,
        theme: 'light',
    ));

@import "~vue-material/dist/theme/all";

.app {
    &__container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    &__content {
        flex: 1;
    }
}



// Theme device styles [device, content, container, spacing]
@import './layout';
// Theme button styles [raised, outline, color]
@import './button';
// Theme form styles [inputs]
@import './form';
// Theme form styles [inputs]
@import './components';