@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Material+Icons&display=swap');
/** 
[Theme: Default Light] 
Contents: spacing, device, container, columns, flexbox, grid, content
*/

@import '~vue-material/dist/theme/engine'; // Import the theme engine

@include md-register-theme(
  'default',
  (
    primary: md-get-palette-color(amber, A400),
    accent: md-get-palette-color(yellow, A400),
  )
);

//

@import '~vue-material/dist/theme/all';

.md-app .md-content.md-theme-default {
  border-right-color: var(
    --md-theme-default-divider-on-background,
    rgba(0, 0, 0, 0)
  );
}
