/** Forms */


/** Input */

input {
    border: 1px solid;
    border-radius: 3px;
    padding: 0.5rem;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 400;
}


/** Textarea */


/** Button */