/** Flex Columns */

$gap: 1rem;
$colCount: 12;

.flex-grid {
    display: flex;
    overflow: hidden;
    padding: $gap;
}

@for $i from 1 through $colCount {
    $formula: calc($i / $colCount * 100);

    .col-#{$i} {
        width: $formula;
        margin-left: -#{$gap};
        margin-right: -#{$gap};

        @include mobile {
            &-xs {
                width: $formula;
            }
        }

        @include mobileL {
            &-sm {
                width: $formula;
            }
        }

        @include tablet {
            &-md {
                width: $formula;
            }
        }

        @include laptop {
            &-lg {
                width: $formula;
            }
        }

        @include desktop {
            &-lg {
                width: $formula;
            }
        }
    }

}