/** Container */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include mobile {
        max-width: 95%;
    }

    @include tablet {
        max-width: 90%;
    }

    @include laptop {
        max-width: 1024px;
    }

    @include desktop {
        max-width: 1400px;
    }


    &-fluid {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    &-xs {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @include mobile {
            max-width: 95%;
        }

        @include tablet {
            max-width: 90%;
        }
    }

    &-sm {
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @include mobile {
            max-width: 95%;
        }

        @include tablet {
            max-width: 90%;
        }

        @include laptop {
            max-width: 460px;
        }
    }

    &-md {
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @include mobile {
            max-width: 95%;
        }

        @include tablet {
            max-width: 90%;
        }

        @include laptop {
            max-width: 576px;
        }
    }

    &-lg {
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @include mobile {
            max-width: 95%;
        }

        @include tablet {
            max-width: 90%;
        }

        @include tablet {
            max-width: 768px;
        }
    }

    &-xl {
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @include mobile {
            max-width: 95%;
        }

        @include tablet {
            max-width: 90%;
        }

        @include laptop {
            max-width: 1024px;
        }
    }

    &-xxl {
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @include mobile {
            max-width: 95%;
        }

        @include tablet {
            max-width: 90%;
        }

        @include laptop {
            max-width: 1024px;
        }

        @include desktop {
            max-width: 1200px;
        }

        @include desktopL {
            max-width: 1400px;
        }
    }
}

.t {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-justify {
        text-align: justify;
    }
}

.d {
    &-flex {
        display: flex;
    }

    &-block {
        display: block;
    }

    &-inline {
        display: inline;
    }

    &-inline-block {
        display: inline-block;
    }

    &-grid {
        display: grid;
    }
}