/** Container */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include mobile {
        max-width: 95%;
    }

    @include tablet {
        max-width: 90%;
    }
}

.t {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-justify {
        text-align: justify;
    }
}

.d {
    &-flex {
        display: flex;
    }

    &-block {
        display: block;
    }

    &-inline {
        display: inline;
    }

    &-inline-block {
        display: inline-block;
    }

    &-grid {
        display: grid;
    }
}