/**
[Options]
1) .md-button (button)
2) .md-square (not rounded)
3) .md-primary (primary, accent, success, info, warning, danger)
4) .md-raised (color background)
5) .md-outline (color 1px border)
6) .md-sm
7) .md-lg

 */

// Raised Success
.md-button.md-success.md-theme-default.md-raised:not([disabled]) {
    background-color: $success;
    color: $textDark;
}

// Raised Info
.md-button.md-info.md-theme-default.md-raised:not([disabled]) {
    background-color: $info;
    // color: $textDark;
}

// Raised Warning
.md-button.md-warning.md-theme-default.md-raised:not([disabled]) {
    background-color: $warning;
    color: $textDark;
}

// Raised Danger
.md-button.md-danger.md-theme-default.md-raised:not([disabled]) {
    background-color: $danger;
}

// Outline Primary
.md-button.md-primary.md-outline.md-theme-default:not([disabled]) {
    border: 1px solid $primary;
    background-color: transparent;
}

// Outline Accent
.md-button.md-accent.md-outline.md-theme-default:not([disabled]) {
    border: 1px solid $accent;
    background-color: transparent;
}

// Outline Success
.md-button.md-success.md-outline.md-theme-default:not([disabled]) {
    border: 1px solid $success;
    background-color: transparent;
    color: $success;
}

// Outline Info
.md-button.md-info.md-outline.md-theme-default:not([disabled]) {
    border: 1px solid $info;
    background-color: transparent;
    color: $info;
    // color: $textDark;
}

// Outline Warning
.md-button.md-warning.md-outline.md-theme-default:not([disabled]) {
    border: 1px solid $warning;
    background-color: transparent;
    color: $warning;
}

// Outline Danger
.md-button.md-danger.md-outline.md-theme-default:not([disabled]) {
    border: 1px solid $danger;
    background-color: transparent;
    color: $danger;
}

// Rounded
.md-button.md-square {
    border-radius: 0;
}

// Rounded
.md-button.md-sm {
    height: 25px;
    font-size: 12px;
}

// Sizes
.md-button.md-lg {
    font-size: 1.125rem;
    height: 50px;
    min-width: 190px;
}