.md-focused {}

$highlightColorLight: $info;
$highlightColorDark: $primary;

.md-field.md-outline-light,
.md-field.md-with-bg-light,
.md-field.md-outline-dark,
.md-field.md-with-bg-dark {
    padding-left: 0.75rem;

    & label {
        padding-left: 0.75rem;
        top: 13px;
    }

    // Arrow icon
    & .md-icon-font {
        position: absolute;
        top: 13px;
        right: 0.75rem;
    }

    &.md-outline-light.md-theme-default:before,
    &.md-outline-light.md-theme-default:after,
    &.md-outline-dark.md-theme-default:before,
    &.md-outline-dark.md-theme-default:after {
        background-color: transparent;
        content: none;
    }

    // Selected
    &.md-focused {
        & label {
            top: 0;
        }
    }
}


// App Light Theme

// Field with outline
.md-field.md-outline-light {
    border-radius: 4px;
    background-color: md-get-palette-color(gray, 100);
    border: solid md-get-palette-color(gray, 300);
    border-width: 1px;

    & input:-webkit-autofill,
    & input:-webkit-autofill:hover,
    & input:-webkit-autofill:focus,
    & input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px md-get-palette-color(gray, 100) inset !important;
    }

    // Focused
    &.md-focused {
        border-color: md-get-palette-color(gray, 400);
        background-color: md-get-palette-color(gray, 200);

        & label,
        & caret {
            color: $highlightColorDark;
        }
    }
}

// Field with background-color
.md-field.md-with-bg-light {
    background-color: md-get-palette-color(gray, 100);
    border-radius: 3px 3px 0 0;

    & input:-webkit-autofill,
    & input:-webkit-autofill:hover,
    & input:-webkit-autofill:focus,
    & input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px md-get-palette-color(gray, 100) inset !important;
    }

    // Focused
    &.md-focused {
        border-color: md-get-palette-color(gray, 100);
        background-color: md-get-palette-color(gray, 100);

        &.md-outline-light.md-theme-default:before,
        &.md-outline-light.md-theme-default:after {
            // A color
            background-color: $highlightColorDark;
            content: "";
        }

        & label,
        & caret {
            color: $highlightColorDark;
        }
    }

}


// App Dark Theme

// Field with outline
.md-field.md-outline-dark {
    border-radius: 4px;
    background-color: #3b3b3b;
    border: solid rgba(black, 0.2);
    border-width: 1px;

    & input:-webkit-autofill,
    & input:-webkit-autofill:hover,
    & input:-webkit-autofill:focus,
    & input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #3b3b3b inset !important;
    }

    // Focused
    &.md-focused {
        border-color: rgba(black, 0.2);
        background-color: #353535;

        & input:-webkit-autofill,
        & input:-webkit-autofill:hover,
        & input:-webkit-autofill:focus,
        & input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px #353535 inset !important;
        }

        & label,
        & caret {
            color: $highlightColorDark;
        }

    }
}

// Field with background-color
.md-field.md-with-bg-dark {
    background-color: #3b3b3b;
    border-radius: 3px 3px 0 0;

    & input:-webkit-autofill,
    & input:-webkit-autofill:hover,
    & input:-webkit-autofill:focus,
    & input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #3b3b3b inset !important;
    }

    // Focused
    &.md-focused {
        border-color: rgba(black, 0.3);
        background-color: #353535;

        &.md-outline-dark.md-theme-default:before,
        &.md-outline-dark.md-theme-default:after {
            // A color
            background-color: $highlightColorLight;
            content: "";
        }

        & input:-webkit-autofill,
        & input:-webkit-autofill:hover,
        & input:-webkit-autofill:focus,
        & input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px #353535 inset !important;
        }

        & label,
        & caret {
            color: $highlightColorLight;
        }
    }

}