/** danger */

$colors: (
  50: 45%,
  100: 40%,
  200: 35%,
  300: 30%,
  400: 20%,
  500: 10%,
  600: 15%,
  700: 20%,
  800: 25%,
  900: 30%,
);

/** Loop Color */

.bg-danger {
  background-color: $danger;
  color: white;
}

.t-danger {
  color: $danger;
}

.outline-danger {
  border-color: $danger;
}

.fill-danger {
  fill: $danger;
}

@each $name, $color in $colors {
  .bg-danger-#{$name} {
    @if $name<=500 {
      background-color: lighten($danger, $color);
      color: rgba(black, 0.87%);
    } @else {
      background-color: darken($danger, $color);
      color: white;
    }
  }
  .t-danger-#{$name} {
    @if $name<=500 {
      color: lighten($danger, $color);
    } @else {
      color: darken($danger, $color);
    }
  }
  .outline-danger-#{$name} {
    @if $name<=500 {
      border-color: lighten($danger, $color);
    } @else {
      border-color: darken($danger, $color);
    }
  }
  .fill-danger-#{$name} {
    @if $name<=500 {
      fill: lighten($danger, $color);
    } @else {
      fill: darken($danger, $color);
    }
  }
}
