/** info */

$colors: (
  50: 45%,
  100: 40%,
  200: 35%,
  300: 30%,
  400: 20%,
  500: 10%,
  600: 15%,
  700: 20%,
  800: 25%,
  900: 30%,
);

/** Loop Color */

.bg-info {
  background-color: $info;
  color: white;
}

.t-info {
  color: $info;
}

.outline-info {
  border-color: $info;
}

.fill-info {
  fill: $info;
}

@each $name, $color in $colors {
  .bg-info-#{$name} {
    @if $name<=500 {
      background-color: lighten($info, $color);
      color: rgba(black, 0.87%);
    } @else {
      background-color: darken($info, $color);
      color: white;
    }
  }
  .t-info-#{$name} {
    @if $name<=500 {
      color: lighten($info, $color);
    } @else {
      color: darken($info, $color);
    }
  }
  .outline-info-#{$name} {
    @if $name<=500 {
      border-color: lighten($info, $color);
    } @else {
      border-color: darken($info, $color);
    }
  }
  .fill-info-#{$name} {
    @if $name<=500 {
      fill: lighten($info, $color);
    } @else {
      fill: darken($info, $color);
    }
  }
}
