/** secondary */

$colors: (
  50: 45%,
  100: 40%,
  200: 35%,
  300: 30%,
  400: 20%,
  500: 10%,
  600: 15%,
  700: 20%,
  800: 25%,
  900: 30%,
);

/** Loop Color */

.bg-secondary {
  background-color: $secondary;
  color: white;
}

.t-secondary {
  color: $secondary;
}

.outline-secondary {
  border-color: $secondary;
}

.fill-secondary {
  fill: $secondary;
}

@each $name, $color in $colors {
  .bg-secondary-#{$name} {
    @if $name<=500 {
      background-color: lighten($secondary, $color);
      color: rgba(black, 0.87%);
    } @else {
      background-color: darken($secondary, $color);
      color: white;
    }
  }
  .t-secondary-#{$name} {
    @if $name<=500 {
      color: lighten($secondary, $color);
    } @else {
      color: darken($secondary, $color);
    }
  }
  .outline-secondary-#{$name} {
    @if $name<=500 {
      border-color: lighten($secondary, $color);
    } @else {
      border-color: darken($secondary, $color);
    }
  }
  .fill-secondary-#{$name} {
    @if $name<=500 {
      fill: lighten($secondary, $color);
    } @else {
      fill: darken($secondary, $color);
    }
  }
}
