/** warning */

$colors: (
  50: 45%,
  100: 40%,
  200: 35%,
  300: 30%,
  400: 20%,
  500: 10%,
  600: 15%,
  700: 20%,
  800: 25%,
  900: 30%,
);

/** Loop Color */

.bg-warning {
  background-color: $warning;
  color: white;
}

.t-warning {
  color: $warning;
}

.outline-warning {
  border-color: $warning;
}

.fill-warning {
  fill: $warning;
}

@each $name, $color in $colors {
  .bg-warning-#{$name} {
    @if $name<=500 {
      background-color: lighten($warning, $color);
      color: rgba(black, 0.87%);
    } @else {
      background-color: darken($warning, $color);
      color: white;
    }
  }
  .t-warning-#{$name} {
    @if $name<=500 {
      color: lighten($warning, $color);
    } @else {
      color: darken($warning, $color);
    }
  }
  .outline-warning-#{$name} {
    @if $name<=500 {
      border-color: lighten($warning, $color);
    } @else {
      border-color: darken($warning, $color);
    }
  }
  .fill-warning-#{$name} {
    @if $name<=500 {
      fill: lighten($warning, $color);
    } @else {
      fill: darken($warning, $color);
    }
  }
}
