// Default
$black: black;
$white: white;

.bg {
  &-white {
    background-color: $white;
  }
  &-black {
    background-color: $black;
  }
}
.t {
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
}
.outline {
  &-white {
    border-color: $white;
  }
  &-black {
    border-color: $black;
  }
}
.fill {
  &-white {
    fill: $white;
  }
  &-black {
    fill: $black;
  }
}
// Primary
@import './primary';
// Secondary
@import './secondary';
// Gray
@import './gray';
// Success
@import './success';
// Info
@import './info';
// Warning
@import './warning';
// Danger
@import './danger';
